@model User.Models.SignIn

@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<br/>
@if (ViewBag.MessageForInvalidLogin != null)
{


    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Danger!! </strong>@ViewBag.MessageForInvalidLogin
    </div>


}
<script>
    $(document).ready(function () {





        /* Validate Username*/
        $("#usercheck").hide();
        let usernameError = true;
        $("#UserName").keyup(function () {
            validateUsername();
        });
        function validateUsername() {
            var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            var username = document.getElementById("UserName").value;
            if (username.match(validRegex)) {
                $("#usercheck").show();
                $("#usercheck").html("");
                usernameError = false;
                return false;
            } else if (username == "") {
                $("#usercheck").show();
                $("#usercheck").html("**Please Enter email");
            }
            else {
                $("#usercheck").show();
                $("#usercheck").html("**Please Enter Valid Email (abc12@gmail.com)");
                usernameError = false;
                return false;
            }
        }

        $("#Passwordcheck").hide();
        let passwordError = true;
        $("#Password").keyup(function () {
            validatepassword();
        });
        function validatepassword() {
            var password = document.getElementById("Password").value;
            if (password == "") {
                $("#Passwordcheck").show();
                $("#Passwordcheck").html("**Please Enter password");
            }
            else {
                $("#Passwordcheck").show();
                $("#Passwordcheck").html("");
                passwordError = false;
                return false;
            }
        }

        $("button").on("click", function () {
            $('#Reload').load('#Reload')
            alert('Reloaded Page')
        });

    });
</script>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="Reload">
        <h4>SignIn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "UserName", required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", id = "usercheck" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "Password", required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "Passwordcheck" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rememberme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Rememberme)
                    @Html.ValidationMessageFor(model => model.Rememberme, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SignIn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "SignUp")
    </div>*@
<div>
    @Html.ActionLink("Registration", "SignUp") ||
    @Html.ActionLink("Reset Passward", "ForgetPassword")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}